%script#complaints_template{:type => 'template/ractive'}
  <filterControls filter_criteria='{{filter_criteria}}' all_good_governance_complaint_bases='{{all_good_governance_complaint_bases}}' all_human_rights_complaint_bases='{{all_human_rights_complaint_bases}}' all_special_investigations_unit_complaint_bases='{{all_special_investigations_unit_complaint_bases}}' />
  {{#complaints}}
  <complaint all_agencies='{{all_agencies}}' all_categories='{{all_categories}}' all_mandates='{{all_mandates}}' all_users='{{all_users}}' assigns='{{assigns}}' case_reference='{{case_reference}}' complaint_category_ids='{{complaint_category_ids}}' complainant='{{complainant}}' complaint_bases='{{complaint_bases}}' complaint_categories='{{complaint_categories}}' complaint_documents='{{complaint_documents}}' complainant_error='{{complainant_error}}' current_assignee_id='{{current_assignee_id}}' current_assignee_name='{{current_assignee_name}}' current_status_humanized='{{current_status_humanized}}' filter_criteria='{{filter_criteria}}' good_governance_complaint_basis_ids='{{good_governance_complaint_basis_ids}}' human_rights_complaint_basis_ids='{{human_rights_complaint_basis_ids}}' id='{{id}}' mandate_ids='{{mandate_ids}}' notes='{{notes}}' opened_by_id='{{opened_by_id}}' phone='{{phone}}' reminders='{{reminders}}' special_investigations_unit_complaint_basis_ids='{{special_investigations_unit_complaint_basis_ids}}' status_changes='{{status_changes}}' village='{{village}}'/>
  {{/complaints}}

%script#good_governance_complaint_basis_filter_select_template{:type => "template/ractive"}
  %li{:class => 'good_governance_complaint_basis_filter {{#if selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#human_rights_complaint_basis_filter_select_template{:type => "template/ractive"}
  %li{:class => 'human_rights_complaint_basis_filter {{#if selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#special_investigations_unit_complaint_basis_filter_select_template{:type => "template/ractive"}
  %li{:class => 'special_investigations_unit_complaint_basis_filter {{#if selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#agency_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'agency_filter {{#if selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#assignee_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'assignee_filter {{#if selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#filter_controls_template{:type => 'template/ractive'}
  .row.filter_control_box#complaints_controls
    .row
      .col-md-12
        %h4= t('.search')
    .row.labels
      .col-md-2= t('.complainant')
      .col-md-2= t('.village')
      .col-md-2= t('.phone')
      .col-md-2= t('.case_reference')
    .row{:style => "margin-bottom:12px;"}
      .col-md-2= text_field_tag :complainant, "{{filter_criteria.complainant}}", :placeholder => t('.enter_complainant'), :class => 'form-control'
      .col-md-2= text_field_tag :village, "{{filter_criteria.village}}", :placeholder => t('.enter_village'), :class => 'form-control'
      .col-md-2= text_field_tag :phone, "{{filter_criteria.phone}}", :placeholder => t('.phone'), :class => 'form-control'
      .col-md-2= text_field_tag :case_reference, "{{filter_criteria.case_reference}}", :placeholder => t('.case_reference'), :class => 'form-control'
      .col-md-1{:style => 'text-align:center'}
        %i.erase.fa.fa-refresh{'on-click'=>'clear_filter()', 'data-toggle'=>'tooltip', 'title' => t('.clear')}
      .col-md-1
        {{#if expanded}}
        %a#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact_all') }
        {{else}}
        %a#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand_all')}
        {{/if}}
    .row.labels
      .col-md-2= t('.status')
      .col-md-2= t('.date_from')
      .col-md-2= t('.date_to')
      .col-md-2= t('.basis')
    .row{:style => "margin-bottom:12px;"}
      .col-md-2{:style => 'padding-top:7px;'}
        %label.checkbox-inline{:style => 'color:#f0f8ff; font-weight:300;'}
          <input type='checkbox' id='true_status' name='{{filter_criteria.selected_open_status}}' value='true' style='width:initial;'> <!-- html, workaround for ractive bug https://github.com/ractivejs/ractive/issues/1968 -->
          = t('.open')
        %label.checkbox-inline{:style => 'color:#f0f8ff; font-weight:300;'}
          <input type='checkbox' id='false_status' name='{{filter_criteria.selected_closed_status}}' value='true' style='width:initial;'>
          = t('.closed')
      .col-md-2
        %input.form-control#from{:type=>"text", :name=>"from", :placeholder => t('.date_from'), :value => "{{filter_criteria.from}}"}
      .col-md-2
        %input.form-control#to{:type=>"text", :name=>"to", :placeholder => t('.date_to'), :value => "{{filter_criteria.to}}"}
      .col-md-2
        .btn-group.select
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_basis')
            %span.caret
          %ul.dropdown-menu
            %li.filter_rule
              %a{'on-click'=>"filter_rule('basis','all')", :class => "{{#if filter_criteria.basis_rule == 'all'}}selected{{/if}}"}
                %span= t('.all')
                %span.fa.fa-check
              %a{'on-click'=>"filter_rule('basis','any')", :class => "{{#if filter_criteria.basis_rule == 'any'}}selected{{/if}}"}
                %span= t('.any')
                %span.fa.fa-check
            %li.dropdown-header= t('.good_governance')
            {{#all_good_governance_complaint_bases}}
            <goodGovernanceComplaintBasisFilterSelect filter_criteria='{{filter_criteria}}' id='{{id}}' name='{{name}}'/>
            {{/all_good_governance_complaint_bases}}
            %li.dropdown-header= t('.human_rights')
            {{#all_human_rights_complaint_bases}}
            <humanRightsComplaintBasisFilterSelect filter_criteria='{{filter_criteria}}' id='{{id}}' name='{{name}}'/>
            {{/all_human_rights_complaint_bases}}
            %li.dropdown-header= t('.special_investigations_unit')
            {{#all_special_investigations_unit_complaint_bases}}
            <specialInvestigationsUnitComplaintBasisFilterSelect filter_criteria='{{filter_criteria}}' id='{{id}}' name='{{name}}'/>
            {{/all_special_investigations_unit_complaint_bases}}
    .row.labels
      .col-md-2= t('.agency')
      .col-md-2= t('.assignee')
    .row{:style => "margin-bottom:12px;"}
      .col-md-2
        .btn-group.select
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_agency')
            %span.caret
          %ul.dropdown-menu
            %li.filter_rule
              %a{'on-click'=>"filter_rule('agency','all')", :class => "{{#if filter_criteria.agency_rule == 'all'}}selected{{/if}}"}
                %span= t('.all')
                %span.fa.fa-check
              %a{'on-click'=>"filter_rule('agency','any')", :class => "{{#if filter_criteria.agency_rule == 'any'}}selected{{/if}}"}
                %span= t('.any')
                %span.fa.fa-check
            {{#all_agencies}}
            <agencyFilterSelect filter_criteria='{{filter_criteria}}' id='{{id}}' name='{{name}}' />
            {{/all_agencies}}
      .col-md-2
        .btn-group.select
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_assignee')
            %span.caret
          %ul.dropdown-menu
            {{#all_staff}}
            <assigneeFilterSelect filter_criteria='{{filter_criteria}}' id='{{id}}' name='{{first_last_name}}'/>
            {{/all_staff}}

%script#nothing{:type => 'template/ractive'}
  .row
    .col-md-3
      .btn-group.select{:style=>"width:240px;"}
        %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
          %span.filter-option.pull-left  t('.select_mandate')
          %span.caret
        %ul.dropdown-menu
          %li.filter_rule
            %a{'on-click'=>"filter_rule('mandate','all')", :class => "{{#if filter_criteria.mandate_rule == 'all'}}selected{{/if}}"}
              %span  t('.all')
              %span.fa.fa-check
            %a{'on-click'=>"filter_rule('mandate','any')", :class => "{{#if filter_criteria.mandate_rule == 'any'}}selected{{/if}}"}
              %span  t('.any')
              %span.fa.fa-check
          {{#all_mandates}}
          <mandateFilterSelect id='{{id}}' name='{{name}}'/>
          {{/all_mandates}}
    .col-md-3
      .btn-group.select{:style=>"width:240px;"}
        %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
          %span.filter-option.pull-left  t('.select_agency_convention')
          %span.caret
        %ul.dropdown-menu
          %li.filter_rule
            %a{'on-click'=>"filter_rule('agency_convention','all')", :class => "{{#if filter_criteria.agency_convention_rule == 'all'}}selected{{/if}}"}
              %span  t('.all')
              %span.fa.fa-check
            %a{'on-click'=>"filter_rule('agency_convention','any')", :class => "{{#if filter_criteria.agency_convention_rule == 'any'}}selected{{/if}}"}
              %span  t('.any')
              %span.fa.fa-check
          %li.dropdown-header
            t('.agencies')
            %ul{:style => "list-style:none; padding-left:18px;"}
              {{#all_agencies}}
              <agencyFilterSelect id='{{id}}' name='{{name}}'/>
              {{/all_agencies}}
          %li.dropdown-header
            t('.conventions')
            %ul{:style => "list-style:none; padding-left:18px;"}
              {{#all_conventions}}
              <conventionFilterSelect id='{{id}}' name='{{name}}'/>
              {{/all_conventions}}
    .col-md-1.col-md-offset-1
      %i.erase.fa.fa-refresh{'on-click'=>'clear_filter()', 'data-toggle'=>'tooltip', 'title' => '.clear'}
    .col-md-1
      {{#if expanded}}
      %a#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>'.compact_all'}
      {{else}}
      %a#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>'.expand_all'}
      {{/if}}
  .row.labels
    .col-md-3  t('.project_type')
    .col-md-3  t('.performance_indicators')
  .row
    .col-md-3
      .btn-group.select{:style=>"width:240px;"}
        %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
          %span.filter-option.pull-left  t('.select_project_type')
          %span.caret
        %ul.dropdown-menu
          %li.filter_rule
            %a{'on-click'=>"filter_rule('project_type','all')", :class => "{{#if filter_criteria.project_type_rule == 'all'}}selected{{/if}}"}
              %span  t('.all')
              %span.fa.fa-check
            %a{'on-click'=>"filter_rule('project_type','any')", :class => "{{#if filter_criteria.project_type_rule == 'any'}}selected{{/if}}"}
              %span  t('.any')
              %span.fa.fa-check
          {{#all_mandate_project_types:mandate_name}}
          %li.dropdown-header{:style => "padding: 3px 0px 3px 20px;"}
            {{mandate_name}}
            %ul{:style => "list-style:none; padding-left:18px;"}
              {{#.}}
              <projectTypeFilterSelect />
              {{/.}}
          {{/all_mandate_project_types}}
    .col-md-3
      .btn-group.performance_indicator_select.select{:style=>"width:240px;"}
        %button.btn.btn-default.dropdown-toggle{:type => :button, 'data-toggle'=>'dropdown'}
          %span.filter-option.pull-left  t('.select_performance_indicators')
          %span.caret
        <performanceIndicatorFilterSelect />

%script#agencies_selector_template{:type => 'template/ractive'}
  .row
    .col-md-4#agencies{:style => "padding-top:0;"}
      {{#all_agencies}}
      .row.agency
        .col-md-9
          %label{:for => 'agency_{{id}}'}
            %span{'data-toggle'=>"tooltip", 'data-placement'=>"bottom", :title=>'{{full_name}}'} {{name}}
        .col-md-3
          %input{:id=>'agency_{{id}}', :type => :checkbox, :name => '{{agency_ids}}', :value => '{{id}}'}
      {{/all_agencies}}

%script#complaint_categories_template{:type => 'template/ractive'}
  #complaint_categories
    {{#complaint_categories}}
    <complaintCategory name='{{name}}' />
    {{/complaint_categories}}

%script#complaint_category_template{:type => 'template/ractive'}
  .complaint_category
    .name {{name}}

%script#complaint_template{:type => 'template/ractive'}
  {{#if persisted }}
  {{> show_complaint_template}}
  {{else}}
  {{> new_complaint_template}}
  {{/if}}

%script#mandates_selector_template{:type => 'template/ractive'}
  {{#mandates}}
  .col-md-3{:style => "padding-top:0;"}
    %span {{name}}
  .col-md-1.mandate{:style => "padding-top:0;"}
    %input{:id=>'{{key}}', :type => :checkbox, :name => '{{mandate_ids}}', :value => '{{id}}'}
  {{/mandates}}

%script#complaint_bases_selector_template{:type => 'template/ractive'}
  {{#complaint_bases.0}}
  .col-md-4{:id => '{{key}}_bases', :style => "padding-top:0;"}
    %label {{name}}:
    {{#complaint_bases}}
    .row.complaint_basis
      .col-md-9
        %span {{name}}
      .col-md-3
        %input{:id=>"{{key}}_complaint_basis_{{id}}", :type => :checkbox, :name => "{{good_governance_complaint_basis_ids}}", :value => '{{id}}'}
    {{/complaint_bases}}
  {{/complaint_bases.0}}
  {{#complaint_bases.1}}
  .col-md-4{:id => '{{key}}_bases', :style => "padding-top:0;"}
    %label {{name}}:
    {{#complaint_bases}}
    .row.complaint_basis
      .col-md-9
        %span {{name}}
      .col-md-3
        %input{:id=>"{{key}}_complaint_basis_{{id}}", :type => :checkbox, :name => "{{human_rights_complaint_basis_ids}}", :value => '{{id}}'}
    {{/complaint_bases}}
  {{/complaint_bases.1}}
  {{#complaint_bases.2}}
  .col-md-4{:id => '{{key}}_bases', :style => "padding-top:0;"}
    %label {{name}}:
    {{#complaint_bases}}
    .row.complaint_basis
      .col-md-9
        %span {{name}}
      .col-md-3
        %input{:id=>"{{key}}_complaint_basis_{{id}}", :type => :checkbox, :name => "{{special_investigations_unit_complaint_basis_ids}}", :value => '{{id}}'}
    {{/complaint_bases}}
  {{/complaint_bases.2}}

%script#new_complaint_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.new_complaint.editable_container{:intro => 'slide'}
    .col-md-12
      .row
        .col-md-2
          %span=t('.case_reference')
        .col-md-5
          %span#case_reference {{case_reference}}
      .row.form-group{:class => "{{#complainant_error}}has-error{{/}}"}
        .col-md-2
          %span=t('.complainant')
        .col-md-6
          %input.form-control#complainant{:value => '{{complainant}}', 'on-keydown'=>"remove_attribute_error('complainant')"}
          %span.help-block.error#complainant_error= t('.complainant_error_message')
        .col-sm-3
          %i.fa.fa-remove.fa-lg#cancel_complaint{ :style=>"padding-left:30px", "on-click"=>"cancel_add_complaint()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>"cancel"}
          %i.fa.fa-check.fa-lg#save_complaint{ :style=>"padding-left:60px", "on-click"=>"save_complaint()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>"save"}
      .row.form-group
        .col-md-2
          %span=t('.village')
        .col-md-6
          %input.form-control#village{:value => '{{village}}'}
      .row.form-group
        .col-md-2
          %span=t('.phone')
        .col-md-6
          %input.form-control#phone{:value => '{{phone}}'}
      .row
        .col-md-2
          %label=t('.assignee')
        .col-md-6
          <assigneeSelector users='{{all_users}}' />
      .row
        .col-md-2
          %label=t('.mandate')
        .col-md-10
          .row
            <mandatesSelector mandates='{{all_mandates}}' />
      .row
        .col-md-2
          %label=t('.complaint_basis')
        .col-md-10
          .row
            <complaintBasesSelector all_mandates='{{all_mandates}}' />
      .row
        .col-md-2
          %label=t('.agency')
        .col-md-10
          <agenciesSelector agencies='{{agencies}}' />
      .row
        .col-md-2
          %label=t('.categories')
        .col-md-10
          .row#categories
            <complaintCategoriesSelector all_categories='{{all_categories}}' />
      .panel.panel-default#documents
        .panel-heading= t('.complaint_documents')
        .panel-body
          {{> file_selector_template {key : 'complaint'} }}
          <complaintDocuments complaint_documents='{{complaint_documents}}'>

%script#complaint_categories_selector{:type => 'template/ractive'}
  {{#all_categories}}
  .col-md-3{:style => "padding-top:0;"}
    %label{:for => "category{{id}}"} {{name}}
  .col-md-1.category{:style => "padding-top:0;"}
    %input{:id => "category{{id}}", :type => :checkbox, :name => '{{complaint_category_ids}}', :value => '{{id}}'}
  {{/all_categories}}

%script#mandates_template{:type => 'template/ractive'}
  {{#mandate_ids}}
  <mandate id='{{.}}' />
  {{/mandate_ids}}

%script#mandate_template{:type => 'template/ractive'}
  .mandate {{name}}

%script#agencies_template{:type => 'template/ractive'}
  {{#agency_ids}}
  <agency id='{{.}}' />
  {{/agency_ids}}

%script#agency_template{:type => 'template/ractive'}
  %span.agency {{name}}

%script#show_complaint_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.complaint.editable_container{ :style => "{{#if !include}}display:none{{/if}}", :decorator => 'inpage_edit:{{id}}'}
    .col-md-12
      .row.basic_info
        .col-md-2
          .row
            .col-md-12
              %label= t('.reference')
              %span.case_reference {{ case_reference }}
          .row
            .col-md-12
              {{formatted_date}}
        .col-md-7
          .row
            .col-md-3
              %label= t('.current_assignee')
            .col-md-9
              %span.current_assignee {{ current_assignee_name }}
          .row{'data-toggle'=>:edit}
            .col-md-3
              %label= t('.status')
            .col-md-9
              .fade.no_edit.in#status_changes
                {{# status_changes}}
                .status_change
                  %span.status_humanized {{status_humanized}}
                  (
                  =t('.by')
                  %span.user_name
                    {{user_name}}
                  ,
                  =t('.on')
                  %span.date
                    {{date}}
                  )
                {{/ status_changes}}
              .fade.edit#current_status
                %form
                  %span=t('.open')
                  %input#open{:type=>:radio, :name=>'{{current_status_humanized}}', :value=>'open'}
                  %span=t('.closed')
                  %input#close{:type=>:radio, :name=>'{{current_status_humanized}}', :value=>'closed'}
          .row.form-group{:class => "{{#complainant_error}}has-error{{/}}"}
            .col-md-3
              %label= t('.complainant')
            .col-md-9{'data-toggle'=>'edit'}
              .no_edit.in
                %span.complainant {{ complainant }}
              .edit
                %input.form-control#complainant{:value => '{{complainant}}', 'on-keydown'=>"remove_attribute_error('complainant')"}
                %span.help-block.error#complainant_error= t('.complainant_error_message')
        .col-md-3.actions
          .row{:style => "margin-left:0px;"}
            .col-md-1.col-md-offset-2{'data-toggle'=>:edit}
              .no_edit.in
                .alarm_icon.counter{'data-count'=>"{{reminders_count}}", 'on-click' => "show_reminders_panel()", :style => "position:relative; top:2px; width:16px;"}
              .edit
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                %i.fa.fa-file-text-o.show_notes.counter{'data-count'=>'{{notes_count}}', 'on-click' => "show_notes_panel()"}
              .edit
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                %i.fa.fa-comments-o.fa-lg
              .fade.edit
                %i.fa.fa-remove{:id => "complaint_editable{{id}}_edit_cancel"}
            .col-md-1.icon{'data-toggle' => 'edit'}
              .fade.edit
                %i.fa.fa-check{:id => "complaint_editable{{id}}_edit_save"}
              .fade.no_edit.in
                %i.fa.fa-pencil-square-o{:id => "complaint_editable{{id}}_edit_start", :style=> "position:relative; top:1px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_complaint(event)'}
              .edit
            .col-md-1{'data-toggle'=>:collapse, :href => ".collapse{{id}}", :style => "width:45px;"}
              %div{'data-toggle'=>:edit}
                .no_edit.in
                  {{#if expanded}}
                  %i#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact'), :style => "position:relative; top:3px;"}
                  {{else}}
                  %i#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand'), :style => "position:relative; top:3px;"}
                  {{/if}}
                .edit
      .row.collapse.expanded_info
        .col-md-7.col-md-offset-2{'data-toggle'=>'edit'}
          .row
            .col-md-3
              %label= t('.village')
            .col-md-9
              .no_edit.in
                %span.complainant_village {{ village }}
              .edit
                %input.form-control#village{:value => '{{village}}'}
      .row.collapse.expanded_info
        .col-md-7.col-md-offset-2{'data-toggle'=>:edit}
          .row
            .col-md-3
              %label= t('.phone')
            .col-md-9
              .no_edit.in
                %span.complainant_phone {{ phone }}
              .edit
                %input.form-control#phone{:value => '{{phone}}'}
      .row.collapse
        .col-md-2=t('.assignees_history')
        .col-md-5{'data-toggle'=>:edit}
          <assignees assigns='{{assigns}}' />
          .no_edit.in
          .edit
            <assigneeSelector users='{{all_users}}' />
      .row.collapse
        .col-md-2=t('.mandate')
        .col-md-10{'data-toggle'=>:edit}
          .no_edit.in#mandates
            <mandates mandates='{{mandates}}' />
          .edit
            .row
              <mandatesSelector mandates='{{all_mandates}}' />
      .row.collapse{'data-toggle'=>:edit}
        .col-md-2=t('.basis')
        .col-md-10
          .no_edit.in
            <complaintBases />
          .edit
            .row
              <complaintBasesSelector all_mandates='{{all_mandates}}' />
      .row.collapse{'data-toggle'=>:edit}
        .col-md-2=t('.agency')
        .col-md-10
          .no_edit.in.comma-list#agencies{:style => 'display:flex'}
            <agencies agency_ids='{{agency_ids}}' />
          .edit
            <agenciesSelector agencies='{{agencies}}' />
      .row.collapse{'data-toggle'=>:edit}
        .col-md-2=t('.documents')
        .col-md-10#complaint_documents
          .edit{:style => "padding-left:15px; padding-top:15px;"}
            {{> file_selector_template {key : 'complaint'} }}
          .no_edit.in
          <complaintDocuments complaint_documents='{{complaint_documents}}' />
      .row.collapse{'data-toggle'=>:edit}
        .col-md-2=t('.categories')
        .col-md-10
          .no_edit.in
            <complaintCategories />
          .edit
            .row#categories
              <complaintCategoriesSelector />

%script#complaint_bases_template{:type => 'template/ractive'}
  #good_governance_complaint_bases.comma-list
    {{#if good_governance_complaint_basis_ids}}
    %span.basis_name=t('.good_governance')
    {{/if}}
    {{#good_governance_complaint_basis_ids}}
    <complaintBasis mandate="good_governance" id='{{.}}' good_governance_complaint_basis_ids='{{good_governance_complaint_basis_ids}}' />
    {{/good_governance_complaint_basis_ids}}
  #human_rights_complaint_bases.comma-list
    {{#if human_rights_complaint_basis_ids}}
    %span.basis_name=t('.human_rights')
    {{/if}}
    {{#human_rights_complaint_basis_ids}}
    <complaintBasis mandate="human_rights" id='{{.}}' human_rights_complaint_basis_ids='{{human_rights_complaint_basis_ids}}' />
    {{/human_rights_complaint_basis_ids}}
  #special_investigations_unit_complaint_bases.comma-list
    {{#if special_investigations_unit_complaint_basis_ids}}
    %span.basis_name=t('.special_investigations_unit')
    {{/if}}
    {{#special_investigations_unit_complaint_basis_ids}}
    <complaintBasis mandate="special_investigations_unit" id='{{.}}' special_investigations_unit_complaint_basis_ids='{{special_investigations_unit_complaint_basis_ids}}' />
    {{/special_investigations_unit_complaint_basis_ids}}

%script#complaint_basis_template{:type => 'template/ractive'}
  %span.complaint_basis {{name}}

%script#assignee_selector_template{:type => 'template/ractive'}
  %select.form-control#assignee{:value => '{{current_assignee_id}}'}
    %option{:value => '', :selected => true, :disabled => true, :style =>"color:#333;"}=t('.select_assignee')
    {{#all_users}}
    %option{:value => '{{id}}'} {{ first_last_name }}
    {{/all_users}}

%script#assignees_template{:type => 'template/ractive'}
  #assignees
    {{#assigns}}
    <assignee  name='{{name}}' date='{{date}}' />
    {{/assigns}}

%script#assignee_template{:type => 'template/ractive'}
  .row.assignee
    .col-md-6.date {{date}}
    .col-md-6.name {{name}}

%script#complaint_documents_template{:type => 'template/ractive'}
  .row
    .col-md-6.title=t('.title')
    .col-md-4.filename=t('.filename')
  {{#complaint_documents}}
  <complaintDocument id='{{id}}' file='{{file}}' title='{{title}}' file_id='{{file_id}}' filename='{{filename}}' complaint_named_documents_titles='{{ complaint_named_documents_titles}}' />
  {{/complaint_documents}}
  {{^complaint_documents}}
  %div{:style => 'padding-left:15px;'}=t('.no_documents')
  {{/complaint_documents}}

%script#complaint_document_template{:type => 'template/ractive'}
  {{#if persisted}}
  {{> show_complaint_document_template }}
  {{else}}
  {{> new_complaint_document_template }}
  {{/if}}

%script#show_complaint_document_template{:type => 'template/ractive'}
  .complaint_document
    .row
      .col-md-6.title {{title}}
      .col-md-4.filename {{filename}}
      .col-md-1
        %i.fa.fa-cloud-download{'on-click' => 'download_attachment()'}
      .col-md-1.delete
        %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_complaint_document()'}

%script#new_complaint_document_template{:type => 'template/ractive'}
  .row.document
    .col-md-6.title
      %input.form-control#complaint_document_title{:type => :text, :value=>'{{title}}', :list => :complaint_named_documents}
      %datalist#complaint_named_documents
        {{#complaint_named_documents_titles}}
        %option{:value=>'{{.}}'} {{.}}
        {{/complaint_named_documents_titles}}
      .errors.form-group{:class => "{{#file.size_error}}has-error{{/}}"}
        %span.help-block.error#filesize_error= t('error_messages.too_large')
      .errors.form-group{:class => "{{#file.type_error}}has-error{{/}}"}
        %span.help-block.error#filetype_error= t('error_messages.unpermitted_type')
      .errors.form-group{:class => "{{#unconfigured_filetypes_error}}has-error{{/}}"}
        %span.help-block.error#unconfigured_filetypes_error= t('error_messages.noFileTypes')
    .col-md-4.filename{:style => "overflow-wrap:break-word"} {{filename}}
    .col-md-2
      %i.fa.fa-remove.remove{'on-click' => 'remove_file()'}
