= stylesheet_link_tag 'complaints'
.message_block
%h1= t(".heading")
.btn.btn-success.btn-sm#add_complaint{:style => "margin-bottom:12px; color:white;", :onclick => "complaints.new_complaint()"}
  %i.fa.fa-plus.fa-lg{:style => "color:white"}
  %span= t(".add_complaint")

#complaints

= render :partial => 'shared/file_selector'
= render :partial => 'complaints_templates'

:coffeescript
  window.complaints_data = #{@complaints.to_json}
  window.all_mandates = #{@mandates.to_json}
  window.all_agencies = #{@agencies.to_json}
  window.complaint_bases = #{@complaint_bases.map(&:to_h).to_json}
  window.next_case_reference = "#{@next_case_reference}"
  window.all_users = #{@users.to_json(:only => :id, :methods => :first_last_name)}
  window.all_categories = #{@categories.to_json}

= javascript_include_tag 'complaints'
