%script#collection_item_template{:type => 'template/ractive'}
  {{#if persisted }}
  {{> show_collection_item_template }}
  {{else}}
  {{> new_collection_item_template }}
  {{/if}}

%script#attachments_icons{:type => 'template/ractive'}
  .col-md-1{'data-toggle'=>:edit}
    .no_edit.in
      {{#if has_link }}
      %i.fa.fa-globe{'on-click' => '@this.fetch_link()'.html_safe, 'data-toggle'=>'tooltip', 'title'=>'{{article_link}}'}
      {{elseif has_scanned_doc }}
      %i.fa.fa-cloud-download{'on-click' => '@this.download_attachment()'.html_safe, 'data-toggle'=>'tooltip', 'title'=>'{{original_filename}}'}
      {{/if}}
    .edit

%script#show_collection_item_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.editable_container{:class=> "#{item}", :style => "{{#if !include}}display:none{{/if}}", 'as-inpage_edit'=>'id'}
    .col-md-12
      .row.basic_info
        .col-md-2.date{'data-toggle'=>:edit, 'data-attribute'=>:date, :style => "width:15%"}
          .fade.no_edit.in
            %span {{ date }}
          .fade.edit{:style => "margin-top:26px;"}
            %span {{ date }}
        .col-md-2.title{'data-toggle'=>'edit', :style => "width:60%"}
          .fade.no_edit.in
            %span {{ title }}
          .fade.edit{:style => "width: 100%"}
            {{> edit_title}}
            .row.form-group{:class => "{{#attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
              .col-md-5
                %span.help-block{:id => "attachment_error", :style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t("#{i18n_key}.item_error_message")
            .row.form-group{:class => "{{#single_attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
              .col-md-5
                %span.help-block{:id => "collection_item_attachment_error", :style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t("#{i18n_key}.item_double_attachment_error_message")
        .col-md-2.actions{:style => "width:25%"}
          .row{:style => "margin-left:0px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .alarm_icon.counter{'data-count'=>"{{reminders_count}}", 'on-click' => "@this.show_reminders_panel()".html_safe}
              .edit
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .note_icon.counter.show_notes{'data-count'=>'{{notes_count}}', 'on-click' => "@this.show_notes_panel()".html_safe, :style => "position:relative; left: -3px;"}
              .edit
            {{>attachments_icons}}
            .col-md-1.icon{'data-toggle' => 'edit'}
              .fade.edit
              .fade.no_edit.in
                %i.fa.fa-pencil-square-o#edit_start{:style=> "position:relative; top:1px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .delete_icon_sm.delete_indicator{'on-click' => '@this.show_confirm_delete_modal()'.html_safe}
              .edit
            .col-md-1{'data-toggle'=>:collapse, :href => ".collapse{{id}}", :style => "width:45px;"}
              %div{'data-toggle'=>:edit}
                .no_edit.in
                  {{#if expanded}}
                  %i#compact{'on-click'=>'@this.compact()'.html_safe, 'data-toggle'=>'tooltip', 'title'=>t('.compact'), :style => "position:relative; top:3px;"}
                  {{else}}
                  %i#expand{'on-click'=>'@this.expand()'.html_safe, 'data-toggle'=>'tooltip', 'title'=>t('.expand'), :style => "position:relative; top:3px;"}
                  {{/if}}
                .edit
      .row.fileupload{'data-toggle'=>:edit}
        .fade.no_edit.in
        .fade.edit{:style => "padding-left:20px;"}
          .row{:style => "margin-bottom: 12px;"}
            .col-md-2{:style => "width:15%"}
              %label{:for => "#{item}_article_link"}= t('.weblink')
            .col-md-9{:style => "padding-left:8px"}
              %input.article_link{:name => "#{item}_article_link", :value => "{{article_link}}", "on-input" => "@this.validate()".html_safe}
          .row{:style => "margin-bottom: 12px;"}
            .col-md-2#fileinput_button{:style => "width:15%"}
              %span.btn.btn-success.btn-xs{'as-file_select_trigger'=>true}= t('.choose_file')
            .col-md-9#selected_file_container{:style=>"display:flex; flex-direction: row; padding-left:8px;"}
              {{#original_filename}}
              <file original_filename='{{original_filename}}' filesize_error='{{filesize_error}}' original_type_error='{{original_type_error}}' />
              {{/original_filename}}
      .collapse.expanded_info{:class => "collapse{{id}}"}
        {{> reported_by}}
        {{#unless issue_context}}
        <performanceIndicators performance_indicator_url='{{performance_indicator_url}}' serialization_key='{{serialization_key}}' persisted='{{persisted}}' planned_results='{{planned_results}}' performance_indicator_associations='{{performance_indicator_associations}}' performance_indicators='{{performance_indicators}}' />
        {{/unless issue_context}}
        .panel.panel-default
          .panel-heading
            .row
              .col-md-2.description{:style => "width:50%"}=t('.areas_subareas')
          .panel-content{'data-toggle'=>'edit'}
            .fade.no_edit.in
              .row
                .col-md-2.description{:style => "width:50%"}
                  {{> item_areas}}
            .fade.edit
              {{> collection_item_edit}}
        .row{'data-toggle' => :edit}
          .no_edit.in
          .edit
            .col-sm-3.col-sm-offset-3{:style => "text-align:center;"}
              .btn.btn-danger.btn-sm#edit_cancel
                %i.fa.fa-remove.fa-lg{:style => "color:white"}
                %span{:style => "color:white"}= t("defaults.cancel")
            .col-sm-3{:style => "text-align:center;"}
              .btn.btn-success.btn-sm#edit_save{:style => "color:white;"}
                %i.fa.fa-check.fa-lg{:style => "color:white"}
                %span= t("defaults.save")
              .form-group{:class => "{{#has_errors}}has-error{{/}}"}
                %span.help-block.error{:id => "#{item}_error"}= t("error_messages.form_error")

%script#reported_by{:type => 'template/ractive'}
  // so the partial inclusion doesn't barf

%script#new_collection_item_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.form.template-upload{:class => "#{item}"}
    .col-md-12
      .row
        .col-md-1{:style => "padding-top:28px"}= t('.title')
        .col-md-8
          {{> edit_title }}
      .row.fileupload
        .col-md-12
          .row.fileupload_progress
            / The global progress state
            .col-lg-9.fileupload-progress.fade
              / The global progress bar
              .progress.progress-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
                .progress-bar.progress-bar-success{:style => "width:0%;"}
              / The extended global progress state
              .progress-extended  
          .row
            .col-md-2#fileinput_button
              %span.btn.btn-success.btn-xs{'as-file_select_trigger'=>true}= t('.choose_file')
            .col-md-9#selected_file_container{:style=>"display:flex; flex-direction: row"}
              {{#original_filename}}
              <file original_filename='{{original_filename}}' filesize_error='{{filesize_error}}' original_type_error='{{original_type_error}}' />
              {{/}}
      .row.form-group{:class => "{{#attachment_error}}has-error{{/}}", :style => "padding-bottom:0px"}
        .col-md-2
          %span.help-block#attachment_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t(".attachment_error_message")
      .row.form-group{:class => "{{#single_attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
        .col-md-2
          %span.help-block#single_attachment_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t(".single_attachment_error_message")
      .row
        .col-md-2
          %label{:for => "#{item}_article_link"}= t('.weblink')
        .col-md-2
          %input.article_link{:name => "#{item}_article_link", :value => "{{article_link}}", "on-input" => "@this.validate()".html_safe}
      {{#unless issue_context}}
      <performanceIndicators performance_indicator_url='{{performance_indicator_url}}' serialization_key='{{serialization_key}}' persisted='{{persisted}}' planned_results='{{planned_results}}' performance_indicator_associations='{{performance_indicator_associations}}' performance_indicators='{{performance_indicators}}' />
      {{/unless issue_context}}
      .panel.panel-default.expanded_info
        .panel-heading
          .row
            .col-md-2.description{:style => "width:50%"}=t('.areas_subareas')
        .panel-content
          {{> collection_item_edit}}
      .row
        .col-sm-3.col-sm-offset-3{:style => "text-align:center;"}
          .btn.btn-danger.btn-sm#cancel_add{"on-click" => "@this.cancel()".html_safe}
            %i.fa.fa-remove.fa-lg{:style => "color:white"}
            %span{:style => "color:white"}= t("defaults.cancel")
        .col-sm-3{:style => "text-align:center;"}
          .btn.btn-success.btn-sm#save_add{:style => "color:white;", "on-click" => "@this.save()".html_safe}
            %i.fa.fa-check.fa-lg{:style => "color:white"}
            %span= t("defaults.save")
          .form-group{:class => "{{#has_errors}}has-error{{/}}"}
            %span.help-block.error{:id => "#{item}_error"}= t("error_messages.form_error")

%script#collection_item_edit{:type => 'text/ractive'}
  .row
    .col-md-2{:style => "width:50%"}
      {{#areas:i}}
      .checkbox.area
        %label
          %input{:type=>:checkbox, :id => "#{item}_area_ids_{{id}}", :name => '{{area_ids}}', :value => '{{id}}'}
          {{ name }}
      {{#subareas }}
      .checkbox.subarea
        %label
          %input{:type=>:checkbox, :id => "#{item}_subarea_ids_{{id}}", :name => '{{subarea_ids}}', :value => '{{id}}'}
          {{ name }}
      {{/subareas }}
      {{/areas }}
    .col-md-2{:style => "width:50%; display:flex; flex-direction:column;"}

%script#area_filter_template{:type=> 'template/ractive'}
  %li{:class => 'area dropdown-header {{#if area_selected}}selected{{/if}}'}
    %a{'on-click'=>'@this.toggle()'.html_safe}
      %span {{name}}
      %span.fa.fa-check
  {{#subareas}}
  <subarea>
  {{/subareas}}

%script#selected_file_template{:type => 'template/ractive'}
  #selected_file {{ original_filename }}
  %div
    %i.fa.fa-remove.fa-lg#deselect_file{:style =>'padding-left:30px', 'on-click'=>'@this.deselect_file()'.html_safe}
  .form-group{:class => "{{#filesize_error}}has-error{{/}}"}
    %span.help-block#filesize_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.too_large')
  .form-group{:class => "{{#original_type_error}}has-error{{/}}"}
    %span.help-block#original_type_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.unpermitted_type')

-# for the "show" item
%script#collection_item_subarea_template{:type=> 'template/ractive'}
  %span.subarea {{ name }}

-# for the "show" item
%script#collection_item_area_template{:type=> 'template/ractive'}
  .area
    .name {{ name }}
    .subareas.comma-list
      {{#subarea_ids:i}}
      <collectionitemsubarea id={{subarea_ids[i]}}>
      {{/subarea_ids}}

%script#subarea_template{:type=> 'template/ractive'}
  %li{:class => 'subarea {{#if subarea_selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'@this.toggle()'.html_safe}
      %span.text {{name}}
      %span.fa.fa-check

%script#subarea_select_template{:type=> 'template/ractive'}
  .checkbox.subarea
    %label
      %input{:type=>:checkbox, :checked => '{{checked}}', :id => '{{model_name}}_subarea_ids_{{id}}', :name => '{{model_name}}[subarea_ids][]', :value => '{{id}}'}
      {{ name }}

%script#edit_title{:type => 'text/ractive'}
  .row.form-group{:class => "{{#title_error}}has-error{{/}}"}
    .col-md-12.clearfix
      .chars_remaining{:style => "float:right"}= t('.chars_remaining') # the count variable is embedded in the i18n text
      =text_field_tag '{{model_name}}[title]', nil, :class => 'form-control', :id => '{{model_name}}_title', :placeholder => "Enter title", :size => 100, :maxlength => 100, :value => "{{title}}", 'on-keydown' => "@this.remove_title_errors()".html_safe
      %span.help-block#title_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.title_error_message')

%script#collection{:type => 'template/ractive'}
  %input.hidden_fileinput{:id => "primary_fileinput", :multiple => "multiple", :name => "primary_file", :type => "file", 'as-ractive_fileupload'=>true}
  {{#collection_items}}
  <collectionItem performance_indicator_url='{{performance_indicator_url}}' maximum_filesize='{{maximum_filesize}}' permitted_filetypes='{{permitted_filetypes}}' area_ids='{{area_ids}}' areas='{{areas}}' article_link='{{article_link}}' create_note_url='{{create_note_url}}' create_reminder_url='{{create_reminder_url}}' date='{{date}}' file_id='{{file_id}}' filesize='{{filesize}}' filter_criteria='{{filter_criteria}}' expanded='false' has_link='{{has_link}}' has_scanned_doc='{{has_scanned_doc}}' id='{{id}}' initiator='{{initiator}}' lastModifiedDate='{{lastModifiedDate}}' collection_item_areas='{{collection_item_areas}}' notes='{{notes}}' on-edit='edit' original_filename='{{original_filename}}' original_type='{{original_type}}' performance_indicator_ids='{{performance_indicator_ids}}' performance_indicator_associations='{{performance_indicator_associations}}' performance_indicators='{{performance_indicators}}' planned_results='{{planned_results}}' reminders='{{reminders}}' subarea_ids='{{subarea_ids}}' title='{{title}}' url='{{url}}' user_id='{{user_id}}' />
  {{/collection_items}}

%script#item_areas{:type=>'template/ractive'}
  {{#collection_item_areas}}
  <collectionItemArea area_id='{{area_id}}' subarea_ids='{{subarea_ids}}' />
  {{/collection_item_areas}}
