%script#collection_template{:type => 'template/ractive'}
  .row.filter_control_box{:id => "#{collection}_controls"}
    .row
      .col-md-4
        %h4= search_heading
    .row.labels
      .col-md-2= t('.title')
      .col-md-2= t('.from')
      .col-md-2= t('.to')
      .col-md-2=t('.area_subarea')
    .row{:style => "margin-bottom:12px;"}
      .col-md-2
        %input.form-control#title{:type=>:text, :placeholder => t('.enter_text'), :value => "{{filter_criteria.title}}"}
      .col-md-2
        %input.form-control#from{:type=>"text", :name=>"from", :placeholder => t('.from_date'), :value => "{{formatted_from_date}}", :style => 'position:relative; z-index:12;'}
      .col-md-2
        %input.form-control#to{:type=>"text", :name=>"to", :placeholder => t('.to_date'), :value => "{{formatted_to_date}}", :style => 'position:relative; z-index:12;'}
      .col-md-3
        .btn-group.select
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select')
            %span.caret
          %ul.dropdown-menu
            {{#areas}}
            <area id='{{id}}' name='{{name}}'/>
            {{/areas}}
      .col-md-1
        %i.erase.fa.fa-refresh{'on-click'=>'clear_filter()', 'data-toggle'=>'tooltip', 'title' => t('.clear')}
      .col-md-2{:style => 'padding-left:84px'}
        {{#if expanded}}
        %a#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact_all')}
        {{else}}
        %a#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand_all')}
        {{/if}}
  %div{:id => "#{collection}"}
    {{>collection}}

