%script#collection_item_template{:type => 'template/ractive'}
  {{#if persisted }}
  {{> show_collection_item_template }}
  {{else}}
  {{> new_collection_item_template }}
  {{/if}}

%script#attachments_icons{:type => 'template/ractive'}
  .col-md-1{'data-toggle'=>:edit}
    .no_edit.in
      {{#if has_link }}
      %i.fa.fa-globe{'on-click' => 'fetch_link()', 'data-toggle'=>'tooltip', 'title'=>'{{article_link}}'}
      {{elseif has_scanned_doc }}
      %i.fa.fa-cloud-download{'on-click' => 'download_attachment()', 'data-toggle'=>'tooltip', 'title'=>'{{original_filename}}'}
      {{/if}}
    .edit

%script#show_collection_item_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.editable_container{:class=> "#{item}", :style => "{{#if !include}}display:none{{/if}}", :decorator => 'inpage_edit:{{id}}'}
    .col-md-12
      .row.basic_info
        .col-md-2.date{'data-toggle'=>:edit, 'data-attribute'=>:date, :style => "width:15%"}
          .fade.no_edit.in
            %span {{ date }}
          .fade.edit{:style => "margin-top:26px;"}
            %span {{ date }}
        .col-md-2.title{'data-toggle'=>'edit', :style => "width:60%"}
          .fade.no_edit.in
            %span {{ title }}
          .fade.edit{:style => "width: 100%"}
            {{> edit_title}}
            .row.form-group{:class => "{{#attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
              .col-md-5
                %span.help-block{:id => "attachment_error", :style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t("#{i18n_key}.item_error_message")
            .row.form-group{:class => "{{#single_attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
              .col-md-5
                %span.help-block{:id => "collection_item_attachment_error", :style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t("#{i18n_key}.item_double_attachment_error_message")
        .col-md-2.actions{:style => "width:25%"}
          .row{:style => "margin-left:0px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .alarm_icon.counter{'data-count'=>"{{reminders_count}}", 'on-click' => "show_reminders_panel()"}
              .edit
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .note_icon.counter.show_notes{'data-count'=>'{{notes_count}}', 'on-click' => "show_notes_panel()", :style => "position:relative; left: -3px;"}
              .edit
            {{>attachments_icons}}
            .col-md-1.icon{'data-toggle' => 'edit'}
              .fade.edit
              .fade.no_edit.in
                %i.fa.fa-pencil-square-o{:id => "#{item}_editable{{id}}_edit_start", :style=> "position:relative; top:1px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                .delete_icon_sm.delete_indicator{'on-click' => 'show_confirm_delete_modal()'}
              .edit
            .col-md-1{'data-toggle'=>:collapse, :href => ".collapse{{id}}", :style => "width:45px;"}
              %div{'data-toggle'=>:edit}
                .no_edit.in
                  {{#if expanded}}
                  %i#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact'), :style => "position:relative; top:3px;"}
                  {{else}}
                  %i#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand'), :style => "position:relative; top:3px;"}
                  {{/if}}
                .edit
      .row.fileupload{'data-toggle'=>:edit}
        .fade.no_edit.in
        .fade.edit{:style => "padding-left:20px;"}
          .row{:style => "margin-bottom: 12px;"}
            .col-md-2{:style => "width:15%"}
              %label{:for => "#{item}_article_link"}= t('.weblink')
            .col-md-9{:style => "padding-left:8px"}
              %input.article_link{:name => "#{item}_article_link", :value => "{{article_link}}", "on-input" => "validate()"}
          .row{:style => "margin-bottom: 12px;"}
            .col-md-2#fileinput_button{:style => "width:15%"}
              %span.btn.btn-success.btn-xs{:decorator => :file_select_trigger}= t('.choose_file')
            .col-md-9#selected_file_container{:style=>"display:flex; flex-direction: row; padding-left:8px;"}
              {{#original_filename}}
              <file/>
              {{/original_filename}}
      .collapse.expanded_info{:class => "collapse{{id}}"}
        {{> reported_by}}
        {{#unless issue_context}}
        <performanceindicatorselect />
        {{/unless issue_context}}
        .panel.panel-default
          .panel-heading
            .row
              .col-md-2.description{:style => "width:50%"}=t('.areas_subareas')
              .col-md-2.metrics{:style=>"width:25%;"}= t('.metrics')
          .panel-content{'data-toggle'=>'edit'}
            .fade.no_edit.in
              .row
                .col-md-2.description{:style => "width:50%"}
                  {{> item_areas}}
                .col-md-2.metrics{:style=>"width:40%; display:flex; flex-direction:column;"}
                  .metric#positivity_rating{:style => '{{#if issue_context}}display:none{{/if}}'}
                    .name= t('.positivity')
                    .value {{ positivity_rating_rank_text }}
                  .metric#violation_severity{:style => '{{#unless hr_violation}}display:none{{/unless}}'}
                    .name= t('.violation_severity')
                    .value {{ violation_severity_rank_text }}
                  .metric#violation_coefficient{ :style => '{{#unless hr_violation}}display:none{{/unless}}'}
                    .name= t('.coefficient')
                    .value {{ violation_coefficient }}
                  .metric#affected_people_count{:style => '{{#unless hr_violation}}display:none{{/unless}}'}
                    .name= t('.people_affected')
                    .value {{ affected_people_count }}
            .fade.edit
              {{> collection_item_edit}}
        .row{'data-toggle' => :edit}
          .no_edit.in
          .edit
            .col-sm-3.col-sm-offset-3{:style => "text-align:center;"}
              .btn.btn-danger.btn-sm#_edit_cancel
                %i.fa.fa-remove.fa-lg{:style => "color:white"}
                %span{:style => "color:white"}= t("defaults.cancel")
            .col-sm-3{:style => "text-align:center;"}
              .btn.btn-success.btn-sm#_edit_save{:style => "color:white;"}
                %i.fa.fa-check.fa-lg{:style => "color:white"}
                %span= t("defaults.save")

%script#reported_by{:type => 'template/ractive'}
  // so the partial inclusion doesn't barf

%script#new_collection_item_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.form.template-upload{:class => "#{item}"}
    .col-md-12
      .row
        .col-md-1{:style => "padding-top:28px"}= t('.title')
        .col-md-8
          {{> edit_title }}
      .row.fileupload
        .col-md-12
          .row.fileupload_progress
            / The global progress state
            .col-lg-9.fileupload-progress.fade
              / The global progress bar
              .progress.progress-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
                .progress-bar.progress-bar-success{:style => "width:0%;"}
              / The extended global progress state
              .progress-extended  
          .row
            .col-md-2#fileinput_button
              %span.btn.btn-success.btn-xs{:decorator => :file_select_trigger}= t('.choose_file')
            .col-md-9#selected_file_container{:style=>"display:flex; flex-direction: row"}
              {{#original_filename}}
              <file/>
              {{/}}
      .row.form-group{:class => "{{#attachment_error}}has-error{{/}}", :style => "padding-bottom:0px"}
        .col-md-2
          %span.help-block#attachment_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t(".attachment_error_message")
      .row.form-group{:class => "{{#single_attachment_error}}has-error{{/}}", :style => "margin-bottom:0px"}
        .col-md-2
          %span.help-block#single_attachment_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t(".single_attachment_error_message")
      .row
        .col-md-2
          %label{:for => "#{item}_article_link"}= t('.weblink')
        .col-md-2
          %input.article_link{:name => "#{item}_article_link", :value => "{{article_link}}", "on-input" => "validate()"}
      {{#unless issue_context}}
      <performanceindicatorselect />
      {{/unless issue_context}}
      .panel.panel-default.expanded_info
        .panel-heading
          .row
            .col-md-2.description{:style => "width:50%"}=t('.areas_subareas')
            .col-md-2.metrics{:style=>"width:25%;"}= t('.metrics')
        .panel-content
          {{> collection_item_edit}}
      .row
        .col-sm-3.col-sm-offset-3{:style => "text-align:center;"}
          .btn.btn-danger.btn-sm#cancel_add{"on-click" => "cancel()"}
            %i.fa.fa-remove.fa-lg{:style => "color:white"}
            %span{:style => "color:white"}= t("defaults.cancel")
        .col-sm-3{:style => "text-align:center;"}
          .btn.btn-success.btn-sm#save_add{:style => "color:white;", "on-click" => "save()"}
            %i.fa.fa-check.fa-lg{:style => "color:white"}
            %span= t("defaults.save")

%script#positivity_rating_input{:type => 'template/ractive'}
  .form-group#positivity_rating
    %label.control-label.col-md-2{:for => 'positivity_rating', :style => "width:40%"}= t('.positivity')
    =select_tag "#{item}[positivity_rating_id]", positivity_rating_options, :prompt => t('.select_pr'), :class =>"form-control col-md-2", :id => "positivity_rating",  :style => "width:50%", :value => "{{positivity_rating_id}}"

%script#collection_item_edit{:type => 'text/ractive'}
  .row
    .col-md-2{:style => "width:50%"}
      {{#areas:i}}
      .checkbox.area
        %label
          %input{:type=>:checkbox, :id => "#{item}_area_ids_{{id}}", :name => '{{area_ids}}', :value => '{{id}}'}
          {{ name }}
      {{#subareas }}
      .checkbox.subarea
        %label
          %input{:type=>:checkbox, :id => "#{item}_subarea_ids_{{id}}", :name => '{{subarea_ids}}', :value => '{{id}}'}
          {{ name }}
      {{/subareas }}
      {{/areas }}
    .col-md-2{:style => "width:50%; display:flex; flex-direction:column;"}
      // note that this partial is overwritten by blank for advisory_council_issues
      {{> positivity_rating_input}}
      .form-group.hr_metrics#violation_severity{:style => "{{#unless hr_violation}}display:none{{/unless}}"}
        %label.control-label.col-md-2{:for => 'violation_severity', :style => "width:40%"}= t('.violation_severity')
        =select_tag "#{item}[violation_severity_id]", violation_severity_options, :prompt => t('.select_vs'), :class =>"form-control col-md-2", :id => "violation_severity",  :style => "width:50%", :value => "{{violation_severity_id}}"
      .form-group.hr_metrics#people_affected{:style => "{{#unless hr_violation}}display:none{{/unless}}"}
        %label.control-label.col-md-2{:for => 'people_affected', :style => "width:40%"}= t('.people_affected')
        %input.form-control#people_affected.col-md-2{:placeholder => t('.enter_num_val'), :name => "#{item}[affected_people_count]", :style => "width:15%; padding-left:6px;", :value => "{{affected_people_count}}"}

%script#area_filter_template{:type=> 'template/ractive'}
  %li{:class => 'area dropdown-header {{#if area_selected}}selected{{/if}}'}
    %a{'on-click'=>'toggle()'}
      %span {{name}}
      %span.fa.fa-check
  {{#subareas}}
  <subarea>
  {{/subareas}}

%script#selected_file_template{:type => 'template/ractive'}
  #selected_file {{ original_filename }}
  %div
    %i.fa.fa-remove.fa-lg#deselect_file{:style =>'padding-left:30px', 'on-click'=>'deselect_file()'}
  .form-group{:class => "{{#filesize_error}}has-error{{/}}"}
    %span.help-block#filesize_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.too_large')
  .form-group{:class => "{{#original_type_error}}has-error{{/}}"}
    %span.help-block#original_type_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.unpermitted_type')

-# for the "show" item
%script#collection_item_subarea_template{:type=> 'template/ractive'}
  %span.subarea {{ name }}

-# for the "show" item
%script#collection_item_area_template{:type=> 'template/ractive'}
  .area
    .name {{ name }}
    .subareas.comma-list
      {{#subarea_ids:i}}
      <collectionitemsubarea id={{subarea_ids[i]}}>
      {{/subarea_ids}}

%script#metric_template{:type => 'template/ractive'}
  .metric{:id =>"{{key}}"}
    .name {{ name }}
    .value {{ value }}

%script#subarea_template{:type=> 'template/ractive'}
  %li{:class => 'subarea {{#if subarea_selected}}selected{{/if}}'}
    %a.opt{'on-click'=>'toggle()'}
      %span.text {{name}}
      %span.fa.fa-check

%script#subarea_select_template{:type=> 'template/ractive'}
  .checkbox.subarea
    %label
      %input{:type=>:checkbox, :checked => '{{checked}}', :id => '{{model_name}}_subarea_ids_{{id}}', :name => '{{model_name}}[subarea_ids][]', :value => '{{id}}'}
      {{ name }}

%script#edit_title{:type => 'text/ractive'}
  .row.form-group{:class => "{{#title_error}}has-error{{/}}"}
    .col-md-12.clearfix
      .chars_remaining{:style => "float:right"}= t('.chars_remaining') # the count variable is embedded in the i18n text
      =text_field_tag '{{model_name}}[title]', nil, :class => 'form-control', :id => '{{model_name}}_title', :placeholder => "Enter title", :size => 100, :maxlength => 100, :value => "{{title}}", 'on-keydown' => "remove_title_errors()"
      %span.help-block#title_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.title_error_message')

%script#collection{:type => 'template/ractive'}
  %input.hidden_fileinput{:id => "primary_fileinput", :multiple => "multiple", :name => "primary_file", :type => "file", :decorator=>:ractive_fileupload}
  {{#collection_items}}
  <collectionItem area_ids='{{area_ids}}' areas='{{areas}}' article_link='{{article_link}}' create_note_url='{{create_note_url}}' create_reminder_url='{{create_reminder_url}}' date='{{date}}' file_id='{{file_id}}' filesize='{{filesize}}' expanded='false' has_link='{{has_link}}' has_scanned_doc='{{has_scanned_doc}}' id='{{id}}' initiator='{{initiator}}' lastModifiedDate='{{lastModifiedDate}}' collection_item_areas='{{collection_item_areas}}' notes='{{notes}}' on-edit='edit' original_filename='{{original_filename}}' original_type='{{original_type}}' performance_indicator_ids='{{performance_indicator_ids}}' performance_indicators='{{performance_indicators}}' planned_results='{{planned_results}}' positivity_rating_id='{{positivity_rating_id}}' positivity_rating_rank_text='{{positivity_rating_rank_text}}' reminders='{{reminders}}' subarea_ids='{{subarea_ids}}' title='{{title}}' url='{{url}}' user_id='{{user_id}}' violation_coefficient='{{violation_coefficient}}' violation_severity_id='{{violation_severity_id}}' violation_severity_rank_text='{{violation_severity_rank_text}}' />
  {{/collection_items}}

%script#item_areas{:type=>'template/ractive'}
  {{#collection_item_areas}}
  <collectionItemArea/>
  {{/collection_item_areas}}
