// include this inside a ractive view template with:
// {{> file_selector_template {key : 'project'} }}
// where the key modifies the fileinput id and name attributes, in order to
// disambiguate when there are multiple instances on the same page. There
// cannot be multiple instances with the same key
%script#file_selector_template{:type => 'template/ractive'}
  .row.fileupload
    .col-md-2
      %span.btn.btn-xs.btn-success.fileinput-button
        %i.fa.fa-plus.fa-lg{ :style => "color:white"}
        %span= t('add_document')
      %input.hidden_fileinput{:id => "{{key}}_fileinput", :multiple => "multiple", :name => "{{key}}_file", :type => "file", :decorator=>:ractive_fileupload}
    .col-md-10.fileupload_progress
      <progressBar />

%script#progress_bar_template{:type => 'template/ractive'}
  .fileupload-progress.fade
    .progress.progress-striped.active{:role => "progressbar"}
      .progress-bar.progress-bar-success{:style => "width:0%;"}
    .progress-extended  

%script#attached_documents_template{:type => 'template/ractive'}
  {{#if attached_documents}}
  .row
    .col-md-6.title=t('.title')
    .col-md-4.filename=t('.filename')
  {{/if}}
  {{#attached_documents}}
  <attachedDocument parent='{{parent}}' permitted_filetypes='{{permitted_filetypes}}' maximum_filesize='{{maximum_filesize}}' communication_id='{{communication_id}}' file='{{file}}' file_id='{{file_id}}' filename='{{filename}}' filesize='{{filesize}}' id='{{id}}' lastModifiedDate='{{lastModifiedDate}}' original_type='{{original_type}}' serialization_key='{{serialization_key}}' title='{{title}}' user_id='{{user_id}}' />
  {{/attached_documents}}
  {{^attached_documents}}
  %div{:style => 'padding-left:15px;'}=t('.no_documents')
  {{/attached_documents}}

%script#attached_document_template{:type => 'template/ractive'}
  {{#if persisted}}
  {{> show_attached_document_template  }}
  {{else}}
  {{> new_attached_document_template  }}
  {{/if}}

%script#show_attached_document_template{:type => 'template/ractive'}
  %div{:class => "{{key}}_document"}
    .row
      .col-md-6.title {{title}}
      .col-md-4.filename {{filename}}
      .col-md-1.download
        %i.fa.fa-cloud-download{'on-click' => 'download_attachment()'}
      .col-md-1.delete
        %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_document()'}

%script#new_attached_document_template{:type => 'template/ractive'}
  .row.document
    .col-md-6.title
      %input.form-control#attached_document_title{:type => :text, :value=>'{{title}}', :list => '{{key}}_named_documents'}
      %datalist{:id => '{{key}}_named_documents'}
        {{#named_document_datalist}}
        %option{:value=>'{{.}}'} {{.}}
        {{/named_document_datalist}}
      .errors.form-group{:class => "{{#filesize_error}}has-error{{/}}"}
        %span.help-block.error#filesize_error= t('error_messages.too_large')
      .errors.form-group{:class => "{{#original_type_error}}has-error{{/}}"}
        %span.help-block.error#original_type_error= t('error_messages.unpermitted_type')
      .errors.form-group{:class => "{{#unconfigured_filetypes_error}}has-error{{/}}"}
        %span.help-block.error#unconfigured_filetypes_error= t('error_messages.noFileTypes')
    .col-md-4.filename{:style => "overflow-wrap:break-word"} {{filename}}
    .col-md-2
      %i.fa.fa-remove.remove{'on-click' => 'remove_file()'}

= javascript_include_tag 'attached_documents'
