%script#projects_template{:type => 'template/ractive'}
  <filterControls filter_criteria='{{filter_criteria}}' />
  {{#projects}}
  <project maximum_filesize='{{maximum_filesize}}' permitted_filetypes='{{permitted_filetypes}}' id='{{id}}' title='{{title}}' description='{{description}}' mandate_ids='{{mandate_ids}}' agency_ids='{{agency_ids}}' convention_ids='{{convention_ids}}' performance_indicator_ids='{{performance_indicator_ids}}' project_type_ids='{{project_type_ids}}' all_mandates='{{all_mandates}}' all_agencies='{{all_agencies}}' all_conventions='{{all_conventions}}' project_types='{{project_types}}' mandates='{{mandates}}' agencies='{{agencies}}' conventions='{{conventions}}' reminders='{{reminders}}' notes='{{notes}}' project_documents='{{project_documents}}' expanded='false' />
  {{/projects}}

%script#project_template{:type => 'template/ractive'}
  {{#if persisted }}
  {{> show_project_template }}
  {{else}}
  {{> new_project_template }}
  {{/if}}

%script#new_project_template{:type => 'template/ractive'}
  .row.new_project.expandable_well.well{:intro => 'slide'}
    .col-md-12
      .row.form-group{:class => "{{#title_error}}has-error{{/}}"}
        .col-md-2
          %label{:for => 'project_title'}=t('.title')
        .col-md-7
          %input.form-control#project_title{:value => '{{title}}', 'on-keydown'=>"remove_attribute_error('title')"}
          %span.help-block.error#title_error= t('.title_error_message')
        .col-sm-3
          %i.fa.fa-remove.fa-lg#cancel_project{ :style=>"padding-left:30px", "on-click"=>"cancel_project()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>"cancel"}
          %i.fa.fa-check.fa-lg#save_project{ :style=>"padding-left:60px", "on-click"=>"save_project()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>"save"}
      .row.form-group{:class => "{{#description_error}}has-error{{/}}"}
        .col-md-2
          %label{:for => 'project_description'}=t('.description')
        .col-md-7
          %textarea.form-control#project_description{:value => '{{description}}', 'on-keydown'=>"remove_attribute_error('description')"}
          %span.help-block.error#description_error= t('.description_error_message')
      <mandatesSelector mandates='{{all_mandates}}' />
      <projectTypesSelector all_mandates='{{all_mandates}}' />
      {{> agency_convention_selector }}
      <performanceindicatorselect />
      {{> file_selector_template {key : 'project'} }}
      .panel.panel-default#documents
        .panel-heading= t('.project_documents')
        .panel-body
          <projectDocuments project_documents='{{project_documents}}'>

%script#project_documents_template{:type => 'template/ractive'}
  .row
    .col-md-6.title=t('.title')
    .col-md-4.filename=t('.filename')
  {{#project_documents}}
  <projectDocument id='{{id}}' file='{{file}}' title='{{title}}' file_id='{{file_id}}' filename='{{filename}}' project_named_documents_titles='{{ project_named_documents_titles}}' />
  {{/project_documents}}
  {{^project_documents}}
  %div{:style => 'padding-left:15px;'}=t('.no_documents')
  {{/project_documents}}

%script#project_document_template{:type => 'template/ractive'}
  {{#if persisted}}
  {{> show_project_document_template }}
  {{else}}
  {{> new_project_document_template }}
  {{/if}}

%script#show_project_document_template{:type => 'template/ractive'}
  .project_document
    .row{:style => "margin-left:0px;"}
      .col-md-6.title {{title}}
      .col-md-4.filename {{filename}}
      .col-md-1
        %i.fa.fa-cloud-download{'on-click' => 'download_attachment()'}
      .col-md-1.delete
        %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_project_document()'}

%script#new_project_document_template{:type => 'template/ractive'}
  .row.document
    .col-md-6.title
      %input.form-control#project_document_title{:type => :text, :value=>'{{title}}', :list => :project_named_documents}
      %datalist#project_named_documents
        {{#project_named_documents_titles}}
        %option{:value=>'{{.}}'} {{.}}
        {{/project_named_documents_titles}}
      .errors.form-group{:class => "{{#file.size_error}}has-error{{/}}"}
        %span.help-block.error#filesize_error= t('error_messages.too_large')
      .errors.form-group{:class => "{{#file.type_error}}has-error{{/}}"}
        %span.help-block.error#filetype_error= t('error_messages.unpermitted_type')
      .errors.form-group{:class => "{{#unconfigured_filetypes_error}}has-error{{/}}"}
        %span.help-block.error#unconfigured_filetypes_error= t('error_messages.noFileTypes')
    .col-md-4.filename{:style => "overflow-wrap:break-word"} {{filename}}
    .col-md-2
      %i.fa.fa-remove.remove{'on-click' => 'remove_file()'}

%script#agency_convention_selector{:type => 'template/ractive'}
  .row
    .col-md-2
      %label=t('.agency_convention')
    .col-md-10
      .row
        .col-md-4#agencies{:style => "padding-top:0;"}
          <agenciesSelector />
        .col-md-4#conventions{:style => "padding-top:0;"}
          <conventionsSelector />

%script#agencies_selector_template{:type => 'template/ractive'}
  %label=t('.good_governance')
  {{#all_agencies}}
  .row.agency
    .col-md-9
      %label{:for => 'agency_{{id}}'}
        %span{'data-toggle'=>"tooltip", 'data-placement'=>"bottom", :title=>'{{full_name}}'} {{name}}
    .col-md-3
      %input{:id=>'agency_{{id}}', :type => :checkbox, :name => '{{agency_ids}}', :value => '{{id}}'}
  {{/all_agencies}}

%script#conventions_selector_template{:type => 'template/ractive'}
  %label=t('.human_rights')
  {{#all_conventions}}
  .row.convention
    .col-md-9
      %label{:for => 'convention_{{id}}'}
        %span{'data-toggle'=>"tooltip", 'data-placement'=>"bottom", :title=>'{{full_name}}'} {{name}}
    .col-md-3
      %input{:id=>'convention_{{id}}', :type => :checkbox, :name => '{{convention_ids}}', :value => '{{id}}'}
  {{/all_conventions}}

%script#project_types_selector_template{:type => 'template/ractive'}
  .row
    .col-md-2
      %label=t('.project_type')
    .col-md-10
      .row
        {{#all_mandates}}
        .col-md-4{:id => '{{key}}_types', :style => "padding-top:0;"}
          %label {{name}}:
          {{#project_types}}
          .row.project_type
            .col-md-9
              %label{:for => 'project_type_{{id}}'}
                %span {{name}}
            .col-md-3
              %input{:id=>'project_type_{{id}}', :type => :checkbox, :name => '{{project_type_ids}}', :value => '{{id}}'}
          {{/project_types}}
        {{/all_mandates}}

%script#mandates_selector_template{:type => 'template/ractive'}
  .row
    .col-md-2
      %label=t('.mandate')
    .col-md-10
      .row
        {{#mandates}}
        .col-md-3{:style => "padding-top:0;"}
          %label{:for => '{{key}}'}
            %span {{name}}
        .col-md-1.mandate{:style => "padding-top:0;"}
          %input{:id=>'{{key}}', :type => :checkbox, :name => '{{mandate_ids}}', :value => '{{id}}'}
        {{/mandates}}

%script#edit_title{:type => 'template/ractive'}
  .row.form-group{:class => "{{#title_error}}has-error{{/}}"}
    .col-md-12.clearfix
      .chars_remaining{:style => "float:right"}= t('.chars_remaining') # the count variable is embedded in the i18n text
      =text_field_tag 'project[title]', nil, :class => 'form-control', :id => 'project_title', :placeholder => "Enter title", :size => 100, :maxlength => 100, :value => "{{title}}", 'on-keydown' => "remove_attribute_error('title')"
      %span.help-block#title_error{:style => "font-size:0.8em; padding-left:4px; position:relative; top:-4px; width:100%; background-color:#d9d0a5"}= t('.title_error_message')

%script#show_project_template{:type => 'template/ractive'}
  .row.well.well-sm.expandable_well.project.editable_container{ :style => "{{#if !include}}display:none{{/if}}", :decorator => 'inpage_edit:{{id}}'}
    .col-md-12
      .row.basic_info
        .col-md-9.title{'data-toggle'=>'edit'}
          .fade.no_edit.in
            %span {{ title }}
          .fade.edit{:style => "width: 100%"}
            {{> edit_title}}
        .col-md-3.actions
          .row{:style => "margin-left:0px;"}
            .col-md-1.col-md-offset-2{'data-toggle'=>:edit}
              .no_edit.in
                .alarm_icon.counter{'data-count'=>"{{reminders_count}}", 'on-click' => "show_reminders_panel()", :style => "position:relative; top:2px; width:16px;"}
              .edit
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                %i.fa.fa-file-text-o.show_notes.counter{'data-count'=>'{{notes_count}}', 'on-click' => "show_notes_panel()", :style => "position:relative; left: -3px;"}
              .edit
            .col-md-1.icon{ 'data-toggle' => 'edit'}
              .fade.edit
                %i.fa.fa-remove{:id => "project_editable{{id}}_edit_cancel"}
            .col-md-1.icon{'data-toggle' => 'edit'}
              .fade.edit
                %i.fa.fa-check{:id => "project_editable{{id}}_edit_save"}
              .fade.no_edit.in
                %i.fa.fa-pencil-square-o{:id => "project_editable{{id}}_edit_start", :style=> "position:relative; top:1px;"}
            .col-md-1{'data-toggle'=>:edit}
              .no_edit.in
                %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_project(event)'}
              .edit
            .col-md-1{'data-toggle'=>:collapse, :href => ".collapse{{id}}", :style => "width:45px;"}
              %div{'data-toggle'=>:edit}
                .no_edit.in
                  {{#if expanded}}
                  %i#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact'), :style => "position:relative; top:3px;"}
                  {{else}}
                  %i#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand'), :style => "position:relative; top:3px;"}
                  {{/if}}
                .edit
      .collapse.expanded_info{:class => "collapse{{id}}"}
        .row.description.form-group{:class => "{{#description_error}}has-error{{/}}", 'data-toggle'=>'edit', :style => "width:60%"}
          .col-md-2=t('.description')
          .col-md-10
            .fade.no_edit.in
              %span {{description}}
            .fade.edit{:style => "width: 100%"}
              %textarea.form-control#project_description{:value => '{{description}}', 'on-keydown'=>"remove_attribute_error('description')"}
              %span.help-block.error#description_error= t('.description_error_message')
        <performanceindicatorselect performance_indicators='{{performance_indicators}}' />
        .panel.panel-default
          .panel-content{'data-toggle'=>'edit'}
            .fade.no_edit.in
              <mandates mandates='{{mandates}}' />
              <projectTypes projectTypes='{{projectTypes}}' />
              <agencies agencies='{{agencies}}' />
              <conventions conventions='{{conventions}}' />
            .fade.edit
              <mandatesSelector mandates='{{all_mandates}}' />
              <projectTypesSelector all_mandates='{{all_mandates}}'/>
              {{> agency_convention_selector }}
        .panel.panel-default.documents
          .panel-heading
            .row
              .col-md-2= t('.project_documents')
          .panel-content#project_documents{'data-toggle' => :edit}
            .fade.edit{:style => "padding-left:15px; padding-top:15px;"}
              {{> file_selector_template {key : 'project'} }}
            .fade.no_edit.in
            <projectDocuments project_documents='{{project_documents}}'>

%script#conventions_template{:type => 'template/ractive'}
  .row#conventions{:style => "margin-left:0px;"}
    .col-md-2=t('.conventions')
    .col-md-10.comma-list
      {{#conventions}}
      %span.convention {{name}}
      {{/conventions}}

%script#agencies_template{:type => 'template/ractive'}
  .row#agencies{:style => "margin-left:0px;"}
    .col-md-2=t('.agencies')
    .col-md-10.comma-list
      {{#agencies}}
      %span.agency {{name}}
      {{/agencies}}

%script#project_types_template{:type => 'template/ractive'}
  .row#mandate_project_types{:style => "margin-left:0px;"}
    .col-md-2=t('.project_types')
    .col-md-10
      .row
        {{#project_types}}
        .col-md-12.mandate_project_type
          .mandate_name {{name}}
          #project_types.comma-list{:style => "padding-left:1.5em;"}
            {{#types}}
            %span.project_type {{name}}
            {{/types}}
        {{/project_types}}

%script#mandates_template{:type => 'template/ractive'}
  .row#mandates{:style => "margin-left:0px;"}
    .col-md-2=t('.mandates')
    .col-md-10.comma-list
      {{#mandates}}
      %span.mandate {{name}}
      {{/mandates}}

%script#mandate_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'dropdown-header mandate_filter {{#if selected}}selected{{/if}}'}
    %a{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#project_type_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'project_type_filter {{#if selected}}selected{{/if}}'}
    %a{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#agency_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'agency_filter {{#if selected}}selected{{/if}}'}
    %a{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#convention_filter_select_template{:type => 'template/ractive'}
  %li{:class => 'convention_filter {{#if selected}}selected{{/if}}'}
    %a{'on-click'=>'toggle(id)'}
      %span {{name}}
      %span.fa.fa-check

%script#performance_indicator_filter_select_template{:type => 'template/ractive'}
  %ul.dropdown-menu
    %li.dropdown-header= t('.planned_result')
    {{#planned_results }}
    %li.dropdown-submenu.planned_result
      %a {{ indexed_description }}
      %ul.dropdown-menu
        %li.dropdown-header= t('.outcome')
        {{#outcomes }}
        %li.dropdown-submenu.outcome
          %a {{ indexed_description }}
          %ul.dropdown-menu
            %li.dropdown-header= t('.activity')
            {{#activities}}
            %li.dropdown-submenu.activity
              %a {{ indexed_description }}
              %ul.dropdown-menu
                %li.dropdown-header= t('.performance_indicator')
                {{#performance_indicators}}
                %li.performance_indicator
                  %a.opt{ 'on-click'=>'toggle(id)'}
                    %span.text {{ indexed_description }}
                    %span.fa.fa-check
                {{/performance_indicators}}
            {{/activities}}
        {{/outcomes }}
    {{/planned_results }}

%script#filter_controls_template{:type => 'template/ractive'}
  .row.filter_control_box#projects_controls
    .row
      .col-md-12
        %h4= t('.search')
    .row.labels
      .col-md-3= t('.title')
      .col-md-3= t('.mandate')
      .col-md-3= t('.agency_convention')
    .row{:style => "margin-bottom:12px;"}
      .col-md-3= text_field_tag :title, "{{filter_criteria.title}}", :placeholder => t('.enter_text'), :style=>"width:240px; position:relative; top:-2px; height:27px;", :class => 'form-control'
      .col-md-3
        .btn-group.select{:style=>"width:240px;"}
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_mandate')
            %span.caret
          %ul.dropdown-menu
            %li.filter_rule
              %a{'on-click'=>"filter_rule('mandate','all')", :class => "{{#if filter_criteria.mandate_rule == 'all'}}selected{{/if}}"}
                %span=t('.all')
                %span.fa.fa-check
              %a{'on-click'=>"filter_rule('mandate','any')", :class => "{{#if filter_criteria.mandate_rule == 'any'}}selected{{/if}}"}
                %span=t('.any')
                %span.fa.fa-check
            {{#all_mandates}}
            <mandateFilterSelect id='{{id}}' name='{{name}}'/>
            {{/all_mandates}}
      .col-md-3
        .btn-group.select{:style=>"width:240px;"}
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_agency_convention')
            %span.caret
          %ul.dropdown-menu
            %li.filter_rule
              %a{'on-click'=>"filter_rule('agency_convention','all')", :class => "{{#if filter_criteria.agency_convention_rule == 'all'}}selected{{/if}}"}
                %span=t('.all')
                %span.fa.fa-check
              %a{'on-click'=>"filter_rule('agency_convention','any')", :class => "{{#if filter_criteria.agency_convention_rule == 'any'}}selected{{/if}}"}
                %span=t('.any')
                %span.fa.fa-check
            %li.dropdown-header
              =t('.agencies')
              %ul{:style => "list-style:none; padding-left:18px;"}
                {{#all_agencies}}
                <agencyFilterSelect id='{{id}}' name='{{name}}'/>
                {{/all_agencies}}
            %li.dropdown-header
              =t('.conventions')
              %ul{:style => "list-style:none; padding-left:18px;"}
                {{#all_conventions}}
                <conventionFilterSelect id='{{id}}' name='{{name}}'/>
                {{/all_conventions}}
      .col-md-1.col-md-offset-1
        %i.erase.fa.fa-refresh{'on-click'=>'clear_filter()', 'data-toggle'=>'tooltip', 'title' => t('.clear')}
      .col-md-1
        {{#if expanded}}
        %a#compact{'on-click'=>'compact()', 'data-toggle'=>'tooltip', 'title'=>t('.compact_all')}
        {{else}}
        %a#expand{'on-click'=>'expand()', 'data-toggle'=>'tooltip', 'title'=>t('.expand_all')}
        {{/if}}
    .row.labels
      .col-md-3= t('.project_type')
      .col-md-3= t('.performance_indicators')
    .row
      .col-md-3
        .btn-group.select{:style=>"width:240px;"}
          %button.btn.btn-default.dropdown-toggle{:type=>:button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_project_type')
            %span.caret
          %ul.dropdown-menu
            %li.filter_rule
              %a{'on-click'=>"filter_rule('project_type','all')", :class => "{{#if filter_criteria.project_type_rule == 'all'}}selected{{/if}}"}
                %span=t('.all')
                %span.fa.fa-check
              %a{'on-click'=>"filter_rule('project_type','any')", :class => "{{#if filter_criteria.project_type_rule == 'any'}}selected{{/if}}"}
                %span=t('.any')
                %span.fa.fa-check
            {{#all_mandate_project_types:mandate_name}}
            %li.dropdown-header{:style => "padding: 3px 0px 3px 20px;"}
              {{mandate_name}}
              %ul{:style => "list-style:none; padding-left:18px;"}
                {{#.}}
                <projectTypeFilterSelect />
                {{/.}}
            {{/all_mandate_project_types}}
      .col-md-3
        .btn-group.performance_indicator_select.select{:style=>"width:240px;"}
          %button.btn.btn-default.dropdown-toggle{:type => :button, 'data-toggle'=>'dropdown'}
            %span.filter-option.pull-left= t('.select_performance_indicators')
            %span.caret
          <performanceIndicatorFilterSelect />
