= render :partial => 'projects/index'

:coffeescript
  window.projects_data = #{@projects.to_json}
  window.model_name = "#{@model_name}"
  window.mandates = #{@mandates.to_json}
  window.agencies = #{@agencies.to_json}
  window.conventions = #{@conventions.to_json}
  window.planned_results = #{@planned_results.to_json }
  window.performance_indicators = _.chain(planned_results).
    map((pr)->pr.outcomes).
    flatten().
    map((pr)->pr.activities).
    flatten().
    map((a)->a.performance_indicators).
    flatten().
    map((a)->_(a).values()).
    object().
    value()
  window.maximum_filesize    = #{Project.maximum_filesize * 1000000}
  window.permitted_filetypes = #{Project.permitted_filetypes.to_json }

=javascript_include_tag 'projects'
