.row.csp_report{:style=>"margin-bottom:16px;"}
  .col-md-3
    .row
      .col-md-12= csp_report.created_at
    .row
      .col-md-12= csp_report.document_uri
  .col-md-9
    .row
      .col-md-3 Violated directive
      .col-md-9= csp_report.violated_directive
    .row
      .col-md-3 Effective directive
      .col-md-9= csp_report.effective_directive
    .row
      .col-md-3 Original policy
      .col-md-9= csp_report.original_policy
