%script#communications_template{:type => 'ractive/template'}
  <modal-custom id="communications_modal" type="xl" onclose="Ractive.getNodeInfo(this).ractive.parent.onModalClose()">
  <modal-header>
  <h4>#{t('.communications')}<modal-close/></h4>
  </modal-header>
  <modal-body>
  <i class="fa fa-plus fa-sm" id="add_communication" on-click='new_communication()' data-toggle="tooltip" data-placement="bottom" title="add communication"/>
  #communications{:style => "margin-bottom:80px;"}
    .row
      %h5.col-md-2{:style => "width:15%;"}= t('.date')
    {{#communications}}
    <communication maximum_filesize='{{maximum_filesize}}' permitted_filetypes='{{permitted_filetypes}}' complaint_id='{{complaint_id}}' user_id='{{user_id}}' direction='{{direction}}' mode='{{mode}}' note='{{note}}' user='{{user}}' date='{{date}}' attached_documents='{{attached_documents}}' complaint_id='{{complaint_id}}' />
    {{/communications}}
  </modal-body>
  </modal-custom>

%script#communication_template{:type => 'text/ractive'}
  {{#if !persisted }}
  {{> new_communication_template }}
  {{else}}
  {{> show_communication_template }}
  {{/if}}

%script#communicants_template{:type => 'template/ractive'}
  .col-md-12
    {{#communicants:i}}
    <communicant />
    {{/communicants}}

%script#communicant_template{:type => 'template/ractive'}
  {{#if !persisted }}
  {{> new_communicant_template }}
  {{else}}
  {{> show_communicant_template }}
  {{/if}}

%script#new_communicant_template{:type => 'template/ractive'}
  .row.form-group.new_communicant
    .col-sm-2
      <label class="control-label {{#if i>0}}hidden{{/if}}">
      = t('.communicant')
      </label>
    .col-sm-4
      %input.communicant{:type => :text, :style => "width:100%", :value=>"{{name}}"}
    .col-sm-1
      <span class="btn btn-xs btn-success {{#if i>0}}hidden{{/if}}" data-toggle='tooltip' title="#{t('.add_communicant')}">
      %i.fa.fa-plus.fa-lg#add_communicant{:style=>'color:white;', 'on-click'=>'add_communicant()'}
      </span>
      <i class="fa fa-remove fa-lg remove_communicant {{#unless i>0}}hidden{{/unless}}" on-click="remove_communicant(i)" data-toggle='tooltip' title="#{t('.remove_communicant')}" />

%script#show_communicant_template{:type => 'template/ractive'}
  .with {{name}}

%script#new_communication_template{:type => 'text/ractive'}
  .form#new_communication
    .row.form-group#date
      %label.control-label.col-sm-2=t('.date')
      .col-sm-4
        %input#new_communication_date{:type => :text, :decorator=>:single_month_datepicker, :style => "width:150px", :value => "{{formatted_date}}"}
      .col-sm-2.col-sm-offset-4
        %i.fa.fa-remove.fa-lg#cancel_communication{:style=>"padding-left:30px", "on-click"=>"cancel_communication()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>t("cancel")}
        %i.fa.fa-check.fa-lg#save_communication{:style=>"padding-left:60px", "on-click"=>"save_communication()", "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>t("save")}
    .row.form-group#communication_by{:class => '{{#user_id_error}}has-error{{/}}'}
      %label.control-label.col-sm-2= t('.communication_by')
      .col-sm-8
        %select.form-control#communication_by{:value => '{{user_id}}', 'on-change'=>"remove_errors('user_id')"}
          %option{:value => '', :selected => true, :disabled => true, :style =>"color:#333;"}=t('.select_user')
          {{#all_staff}}
          %option{:value => '{{id}}'} {{ first_last_name }}
          {{/all_staff}}
        %span.help-block= t('.user_id_error_message')
    .row.form-group#sent_or_received{:class => '{{#direction_error}}has-error{{/}}'}
      %label.control-label.col-sm-2= t('.sent_or_received')
      .col-sm-8
        %label.radio-inline
          %input#sent{:type=>'radio', :name=>'{{direction}}', :value=>'sent', 'on-change'=>"remove_errors('direction')", :disabled=>"{{face_to_face}}"}
          = t('.sent')
        %label.radio-inline
          %input#received{:type=>'radio', :name=>'{{direction}}', :value=>'received', 'on-change'=>"remove_errors('direction')", :disabled=>"{{face_to_face}}"}
          = t('.received')
        %span.help-block= t('.sent_or_received_error_message')
    .row.form-group#mode{:class => '{{#mode_error}}has-error{{/}}'}
      %label.control-label.col-sm-2= t('.method')
      .col-sm-8
        %label.radio-inline
          %input{:type=>'radio', :id=>:email_mode, :name=>'{{mode}}', :value=>'email', 'on-change'=>"remove_errors('mode')"}
          = t('.email')
        %label.radio-inline
          %input{:type=>'radio', :id=>:phone_mode, :name=>'{{mode}}', :value=>'phone', 'on-change'=>"remove_errors('mode')"}
          = t('.phone')
        %label.radio-inline
          %input{:type=>'radio', :id=>:letter_mode, :name=>'{{mode}}', :value=>'letter', 'on-change'=>"remove_errors('mode')"}
          = t('.letter')
        %label.radio-inline
          %input{:type=>'radio', :id=>:face_to_face_mode, :name=>'{{mode}}', :value=>'face to face', 'on-change'=>"remove_errors('mode')", 'on-change'=>"disable_direction()"}
          = t('.face_to_face')
        %span.help-block= t('.method_error_message')
    .row.form-group#communicants
      <communicants communicants='{{communicants}}' />
    .row.form-group#note
      %label.control-label.col-sm-2= t('.note')
      .col-sm-8
        %textarea.form-control#note{:rows => 3, :value=>'{{note}}'}
    .panel.panel-default#communication_documents
      .panel-heading= t('.communication_documents')
      .panel-body
        {{> file_selector_template {key : 'communication_document'} }}
        <attachedDocuments attached_documents='{{attached_documents}}' key='communication_document'>

%script#edit_communication_template{:type => 'text/ractive'}
  .form#edit_communication
    .row.form-group#mode{:class => '{{#mode_error}}has-error{{/}}'}
      %label.control-label.col-sm-2= t('.method')
      .col-sm-8
        %label.radio-inline
          %input{:type=>'radio', :id=>:email_mode, :name=>'{{mode}}', :value=>'email', 'on-change'=>"remove_errors('mode')"}
          = t('.email')
        %label.radio-inline
          %input{:type=>'radio', :id=>:phone_mode, :name=>'{{mode}}', :value=>'phone'}
          = t('.phone')
        %label.radio-inline
          %input{:type=>'radio', :id=>:letter_mode, :name=>'{{mode}}', :value=>'letter'}
          = t('.letter')
        %label.radio-inline
          %input{:type=>'radio', :id=>:face_to_face_mode, :name=>'{{mode}}', :value=>'face to face'}
          = t('.face_to_face')
        %span.help-block= t('.method_error_message')
    .row.form-group#sent_or_received{:class => '{{#direction_error}}has-error{{/}}'}
      %label.control-label.col-sm-2= t('.sent_or_received')
      .col-sm-8
        %label.radio-inline
          %input#sent{:type=>'radio', :name=>'{{direction}}', :value=>'sent', 'on-change'=>"remove_errors('direction')"}
          = t('.sent')
        %label.radio-inline
          %input#received{:type=>'radio', :name=>'{{direction}}', :value=>'received', 'on-change'=>"remove_errors('direction')"}
          = t('.received')
        %span.help-block= t('.sent_or_received_error_message')
    .row.form-group#note
      %label.control-label.col-sm-2= t('.note')
      .col-sm-8
        %textarea.form-control#note{:rows => 3, :value=>'{{note}}'}
    .panel.panel-default#communication_documents
      .panel-heading= t('.communication_documents')
      .panel-body
        {{> file_selector_template {key : 'communication_document'} }}
        <attachedDocuments attached_documents='{{attached_documents}}' key='communication_document'>

%script#show_communication_template{:type => 'text/ractive'}
  .communication.row.editable_container{:id => "communication_editable{{id}}", :decorator => 'communication_edit:{{id}}'}
    .col-md-12
      .row
        .col-md-2.date{'data-toggle' => :edit}
          .no_edit.in {{formatted_date}}
          .edit
            %input#edit_communication_date{:type => :text, :decorator=>:single_month_datepicker, :name => "communication[date]", :style => "width:150px", :value => "{{formatted_date}}"}
        .col-md-2.by{'data-toggle' => :edit}
          .no_edit.in {{ user.first_last_name }}
          .edit
            %select.form-control#communication_by{:value => '{{user_id}}', 'on-change'=>"remove_errors('user_id')", :style=>"height:26px;"}
              %option{:value => '', :selected => true, :disabled => true, :style =>"color:#333;"}=t('.select_user')
              {{#all_staff}}
              %option{:value => '{{id}}'} {{ first_last_name }}
              {{/all_staff}}
            -#%span.help-block= t('.user_id_error_message')
        .col-md-1{'data-toggle'=>:edit, :style=>'display:flex'}
          .mode.no_edit.in
            <modeIcon />
          .direction.no_edit.in{:style => "padding-left:15px;"}
            <directionIcon />
        .col-md-2{'data-toggle'=>:edit}
          .no_edit.in
            <communicants communicants='{{communicants}}' />
          .edit
            %input#communicant{:type => :text, :style => "width:100%", :value=>"{{name}}"}
        .col-md-1.note{'data-toggle'=>:edit}
          .no_edit.in
            .note_icon{'data-toggle' => :tooltip, :title => t('icon.note'), 'on-click'=>'show_note()'}
        .col-md-1.documents{'data-toggle'=>:edit}
          .no_edit.in
            .fa.fa-file-text-o.counter#show_document_modal{'on-click'=>"show_document_modal()", 'data-count' => '{{document_count}}', 'data-toggle' => :tooltip, :title => t('icon.documents')}
        .col-md-1{'data-toggle'=>:edit}
          .no_edit.in
          .edit
            %i.fa.fa-remove{:id => "communication_editable{{id}}_edit_cancel"}
        .col-md-1.icon{'data-toggle' => 'edit'}
          .edit
            %i.fa.fa-check{:id => "communication_editable{{id}}_edit_save"}
          .no_edit.in
            %i.fa.fa-pencil-square-o{:id => "communication_editable{{id}}_edit_start", :style=> "position:relative; top:1px;"}
        .col-md-1.delete{'data-toggle'=>:edit}
          .no_edit.in
            %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_communication(event)', 'data-toggle' => :tooltip, :title => t('icon.delete')}
          .edit
    .col-md-12{'data-toggle'=>:edit}
      .edit
        {{> edit_communication_template }}

#communication

=javascript_include_tag 'communication'

:coffeescript
  @Communications =
    show_communications_panel : ->
      communications.set
        communications : @get('communications')
        create_communication_url : @get('create_communication_url')
        parent : @
        permitted_filetypes : @get('communication_permitted_filetypes')
        maximum_filesize : @get('communication_maximum_filesize')
      $('#communications_modal').modal('show')
