!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %meta{'name' => "viewport", 'content' => "width=device-width, initial-scale=1"}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    %title=@title

    = stylesheet_link_tag    'application', media: 'all'

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    = javascript_include_tag 'application'

    - if Rails.env.test? || Rails.env.jstest?
      = javascript_tag "$.fx.off = true;"

    = csrf_meta_tags
  %body{:role => :document, :class => ("no-animation" if Rails.env.test? || Rails.env.jstest?), :style => 'padding-top:80px;'}
    - if logged_in?
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href=>"#"}
              // bootstrap renderer: https://github.com/pdf/simple-navigation-bootstrap
          = render_navigation(level: 1..3, renderer: :bootstrap, expand_all: true)
    - else
      #banner
        #main= t('banner.line_1')
        #sub= t('banner.line_2')
    //%ol.breadcrumb
    //  %li Admin
    //  %li User management
    .container.theme-showcase{:role => :main}
      = yield
    .attribution= attribution
